.bg {

    background-color: #ffffff00;
    width: 100%;
    height: auto;
    margin-top: -27px;
    padding-bottom: 50px;

}


.titulo {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
}

.centrarButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #000000e1;
  color: white;
  width: 140px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}


.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 250px;
	height: auto;
  border-radius: 20px;
  box-shadow: 0px 1px 8px rgba(19, 19, 19, 0.849);
}

.p {
  margin-top: -20px;
  font-size: 15px;
  font-weight: 300;
}