.jobs {
/*     background-color: #ffffff; */
padding-top: 50px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.bgImage{
    background-color: #ffffffbe;
}


.jobsColumn  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top:-20px;
}

.description{
    text-align: center;
    font-weight: 300;
    
}

.description h3{
    font-size: 35px;
    font-weight: 500;
}

@media (max-width: 760px) {
    .jobs {
        height: auto;
    }
    .titulo {
        font-size: 15px;
        text-align: center;
    }
    .description h3{
        font-size: 20px;
    }
    .description {
        font-size: 15px;
        margin: 0 15px;
    }
}